.footer {
    height: 300px;
    width: 100%;
    background-color: rgb(246, 246, 246);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    font-size: 62px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: rgb(210, 47, 37);

    padding-top: 50px;
    margin-bottom: 15px;
}

.footer-icon {
    height: 50px;
    width: 50px;
    cursor: pointer;

    margin-right: 30px;
}

.footer-detail {
    width: 400px;
    margin-top: 25px;

    display: flex;
    justify-content: center;

}

.footer-detail:hover {
    color: rgba(0, 0, 0, 0.473);
}

.copyright {
    margin-top: 75px;
    color: rgba(0, 0, 0, 0.432);

    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;
}