.footer {
    height: 250px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.contact-header {
    font-size: 62px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 25px;
}