.photo-gallery-header {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-top: 50px;

    color:rgb(210, 47, 37);
}

.photo-gallery-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.lil-border {
    height: 20px;
    width: 10%;

    border-bottom: 1.5px solid rgba(116, 115, 115, 0.459);
}

.photo-gallery-main {
    height: 600px;
    width: 600px;
    margin-top: 50px;
}