.photo-gallery-header {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-top: 50px;

    color:rgb(210, 47, 37);
}

.photo-gallery-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.lil-border {
    height: 20px;
    width: 10%;

    border-bottom: 1.5px solid rgba(116, 115, 115, 0.459);
}

.photo-gallery-main {
    height: 600px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photo-gallery-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-button {
    padding: 8px 4px;
    background-color: rgba(22, 22, 22, 0.192);
    outline: none;
    fill: white;
    color: white;
}
