.portfolio-recent-work {
    height: 250px;
    padding-top: 100px;

    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color:rgb(210, 47, 37);
}

.portfolio-header {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 25px;

    color:rgb(210, 47, 37);
}

.portfolio-preview {
    height: 300px;
    width: 300px;
    margin-right: 100px;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    padding-bottom: 75px;
    font-family: Helvetica, arial, sans-serif;
    font-size: 22px;
    color: rgb(87, 87, 87);
    
}

.MemoCube {
    background-color:rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.TapMath {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}