.tapmath-container {
    background-color: rgb(192, 233, 247);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    font-family: Helvetica, arial, sans-serif;
    font-weight: 300;
    position: relative;
    color: #555;

    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 50px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    font-size: 50px;
}

.container {
    width: 700px;
    height: 500px;
    margin: 80px 300px 50px 300px;
    background-color: white;
    border-radius: 10%;

    box-shadow: 10px 30px 20px -20px;

    display: flex;
    flex-direction: column;

    @media (max-width: $desktop-breakpoint) {
        width: 350px;
        height: 400px;
    }

}

.question {
    height: 150px;


    display: flex;
    justify-content: center;
    align-items: center;


    }

.question-box {
    padding: 30px;
    margin-top: 40px;

    border: 1px solid grey;
    font-size: 30px;
    background-color: lightblue;
    border-radius: 100px;
    color: black;

    @media (max-width: $desktop-breakpoint) {
        padding: 20px;
        font-size: 26px;
    }
}

.answers {
    height:300px;


    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.neutral-answer {
    font-size: 30px;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 30px;
    margin: 0px 40px 30px 40px;
    background-color: lightblue;
    color: black;
    cursor: pointer;

    @media (max-width: $desktop-breakpoint) {
        font-size: 22px;
        padding: 20px;
    }
}

.correct-answer {
    font-size: 30px;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 30px;
    margin: 0px 40px 30px 40px;
    background-color: lightgreen;
    color: black;

    @media (max-width: $desktop-breakpoint) {
        font-size: 22px;
        padding: 20px;
    }
}

.wrong-answer {
    font-size: 30px;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 30px;
    margin: 0px 40px 30px 40px;
    background-color: rgb(250, 165, 165);
    color: black;

    @media (max-width: $desktop-breakpoint) {
        font-size: 22px;
        padding: 20px;
    }
}

.score {
    height: 150px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-box {
 
    font-size: 20px;
    color: black;
    padding: 30px;
    margin-left: 30px;
    font-family: Helvetica, arial, sans-serif;


    @media (max-width: $desktop-breakpoint) {
        font-size: 16px;
        padding: 10px;
    }
}

.game-over-white {
    color: white;
    font-family: Helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.game-over-red {
    color: rgb(250, 165, 165);
    font-family: Helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: $desktop-breakpoint) {
        font-size: 18px;
    }
}

.time-left {
    margin-right: 30px;   
    font-size: 20px;
    color: black;
    padding: 30px;
    font-family: Helvetica, arial, sans-serif;

    @media (max-width: $desktop-breakpoint) {
        font-size: 16px;
        padding: 10px;
    }
}

.homeSVG{
    height: 75px;
    width: 75px;
    padding: 5px;
    margin: 5px 5px;
    fill: white;
    background-color: rgba(202, 202, 202, 0.664);

    border-radius: 10px;

    @media (max-width: $desktop-breakpoint) {
        height: 50px;
        width: 50px;
    }
}

.homeSVG:hover {
    background-color: grey;
}

.tapmath-header {
    display: flex;
    justify-items: flex-start;
    width: 100%;
}

.tapmath-title {
    margin-right: 80px;
    flex: 1;
}
